@using WebSiteBanHang.Models;
@model IEnumerable<SanPham>

<div class="wsmain">
    <!-- <div class="smllogo"><a href="#"><img src="images/logo.jpg" alt=""></a></div> -->
    <nav class="wsmenu clearfix">
        <ul class="mobile-sub wsmenu-list" style="display: flex !important">
            <li>
                <span class="wsmenu-click"><i class="wsmenu-arrow fa fa-angle-down"></i></span><span class="wsmenu-click"></span><a href="@Url.Action("Index","Home")" class="navtext"><span>Trang chủ</span></a>
            </li>

            @foreach (var groupItem in Model.GroupBy(n => n.LoaiSanPham))
            {
                if (groupItem != null)
                {
                    <li>
                        <span class="wsmenu-click"><i class="wsmenu-arrow fa fa-angle-down"></i></span><span class="wsmenu-click"><i class="wsmenu-arrow fa fa-angle-down"></i></span><a href="#" class="navtext"><span>@groupItem.Key.TenLoai</span></a>
                        <div class="wsshoptabing wtsbrandmenu clearfix">
                            <div class="wsshoptabingwp clearfix">
                                <ul class="wstabitem02 clearfix">
                                    <li class="wsshoplink-active">
                                        <span class="wsmenu-click02"><i class="wsmenu-arrow fa fa-angle-down"></i></span><span class="wsmenu-click02"><i class="wsmenu-arrow fa fa-angle-down"></i></span><a href="#"><i class="fa fa-apple brandcolor01" aria-hidden="true"></i>Apple</a>
                                        <div class="wsshoptab-active wstbrandbottom clearfix">
                                            <ul class="wstliststy02">
                                                <li class="wstheading">@groupItem.Key.TenLoai </li>
                                                @foreach (var item in groupItem.GroupBy(n => n.NhaSanXuat))
                                                {
                                                    if (item.Key != null)
                                                    {
                                                        <li><a href="@Url.Action("SanPham", "SanPham", new { @MaLoaiSP = groupItem.Key.MaLoaiSP, @MaNSX = item.Key.MaNSX })">@item.Key.TenNSX</a> </li>

                                                    }

                                                }

                                            </ul>

                                        </div>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </li>
                }

            }


            <li>
                <span class="wsmenu-click"><i class="wsmenu-arrow fa fa-angle-down"></i></span><span class="wsmenu-click"><i class="wsmenu-arrow fa fa-angle-down"></i></span><a href="#" class="navtext"><span>Thương hiệu</span> </a>
                <div class="megamenu clearfix">
                    @foreach (var groupItem in Model.GroupBy(n => n.LoaiSanPham))
                    {
                        <ul class="wstliststy02">
                            <li class="wstheading">@groupItem.Key.TenLoai</li>
                            @foreach (var item in groupItem.GroupBy(n => n.NhaSanXuat))
                            {
                                <li><a href="@Url.Action("SanPham", "SanPham", new { @MaLoaiSP = groupItem.Key.MaLoaiSP, @MaNSX = item.Key.MaNSX })">@item.Key.TenNSX</a></li>

                            }

                        </ul>
                    }




                </div>
            </li>






            <li class="wssearchbar clearfix">
                <form class="topmenusearch">
                    <input placeholder="Search Product By Name, Category...">
                    <button class="btnstyle"><i class="searchicon fa fa-search" aria-hidden="true"></i></button>
                </form>
            </li>

            <!-- <li class="wscarticon clearfix"> <a href="#"><i class="fa fa-shopping-basket"></i> <em class="roundpoint">8</em><span class="mobiletext">Shopping Cart</span></a> </li> -->


            <li class="wsshopmyaccount clearfix">
                <span class="wsmenu-click"><i class="wsmenu-arrow fa fa-angle-down"></i></span><span class="wsmenu-click"><i class="wsmenu-arrow fa fa-angle-down"></i></span><a href="#" class="wtxaccountlink"><i class="fa fa-align-justify"></i>My Account <i class="fa fa-angle-down"></i></a>
                                                                                                                                                                              <ul class="wsmenu-submenu">

                                                                                                                                                                                  @*// Session là biến được tạo ra ở mỗi phiên làm việc của người dùng
        Mỗi người đăng nhập sẽ có 1 sesion riêng và phiên làm việc của họ
        cũng có biến session riêng và được hủy khi phiên làm việc đó kết thúc*@
                                                                                                                                                                                  @if (Session["TaiKhoan"] != null && Session["TaiKhoan"] != "")
                                                                                                                                                                                  {
                                                                                                                                                                                      
                                                                                                                                                                                      ThanhVien tv = (ThanhVien)Session["TaiKhoan"];
                                                                                                                                                                                      <span style="color: red">Chào @tv.HoTen</span>
                                                                                                                                                                                      @Html.ActionLink("Đăng xuất", "DangXuat", "Home")
                                                                                                                                                                                  }
                                                                                                                                                                                  else
                                                                                                                                                                                  {
                                                                                                                                                                                      <li><a href="@Url.Action("DangKy","Home")"><i class="fa fa-black-tie"></i>Đăng ký</a></li>
                                                                                                                                                                                      <li><a href="@Url.Action("DangNhap","Home")"><i class="fa fa-sign-in"></i>Đăng nhập</a></li>
                                                                                                                                                                                  }
                                                                                                                                                                                  <li><a href="account.html"><i class="fa fa-user"></i>Thông tin cá nhân</a></li>



                                                                                                                                                                                  @* <li><a href=""><i class="fa fa-black-tie"></i>Đăng ký</a></li>
        <li><a href=""><i class="fa fa-sign-in"></i>Đăng nhập</a></li>*@


                                                                                                                                                                                  <li><a href="account.html#wishlist"><i class="fa fa-heart"></i>My Wishlist</a></li>
                                                                                                                                                                                  <li><a href="faq.html"><i class="fa fa-question-circle"></i>Help Center</a></li>
                                                                                                                                                                                  @*<li><a href="login.html"><i class="fa fa-sign-out"></i>Logout</a></li>*@
                                                                                                                                                                              </ul>
            </li>
        </ul>
    </nav>
</div>