
@using WebSiteBanHang.Models;
@model IEnumerable<SanPham>


<h1>@Model.First().LoaiSanPham.TenLoai mới nhất</h1>

<div class="row">
    @foreach (var item in Model.Take(3))
    {
        <div class="col-md-3">
            <div class="product-item">
                <div class="product-borde-inner">
                    <a href="product_single.html">
                        <img src="@Url.Content("~/Content/images/product-slide/" + item.HinhAnh)" class="img img-responsive">
                    </a>

                    <div class="product-price">
                        <a href="product_single.html">@item.TenSP</a><br>
                        <span class="prev-price">
                            <del>@item.DonGia</del>
                        </span>
                        <span class="current-price">
                            150$
                        </span>
                    </div>

                    <a href="@Url.Action("ThemGioHang", "GioHang", new { @MaSP=item.MaSP, @strURL = Request.Url.ToString() })" class="btn btn-cart text-center add-to-cart pull-right">
                        <i class="fa fa-cart-plus"></i>
                        Add to cart
                    </a>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div><!-- End Latest products[single] -->
    }

    <div class="clearfix"></div>





</div> <!-- End Latest products row-->

<div class="clear"></div>

