@using WebSiteBanHang.Models;
@using PagedList.Mvc;
@model PagedList.IPagedList<SanPham>

@{
    ViewBag.Title = "SanPham";
    Layout = "~/Views/Layout/ProductLayout.cshtml";
}


<div class="all-products">
    <div class="">
        <div class="products">
            <div class="row">

                @foreach (var item in Model.OrderBy(n => n.DonGia))
                {

                    <div class="col-md-4">
                        <div class="product-item">
                            <div class="product-borde-inner">
                                <a href="product_single.html">
                                    <img src="@Url.Content("~/Content/images/product-slide/" + item.HinhAnh)" class="img img-responsive">
                                </a>

                                <div class="product-price">
                                    <a href="product_single.html">@item.TenSP</a><br>
                                    <span class="prev-price">
                                        <del>200$</del>
                                    </span>
                                    <span class="current-price">
                                        @item.DonGia.Value.ToString("#,##")
                                    </span>
                                </div>


                                <a href="@Url.Action("ThemGioHang", "GioHang", new { @MaSP=item.MaSP, @strURL = Request.Url.ToString() })" class="btn btn-cart text-center add-to-cart pull-right">
                                    <i class="fa fa-cart-plus"></i>
                                    Add to cart
                                </a>


                                @Ajax.ActionLink("Thêm giỏ hàng ajax", "ThemGioHangAjax", "GioHang", new { @MaSP = item.MaSP, @strURL = Request.Url.ToString() }, new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "divGioHang", InsertionMode = InsertionMode.Replace }, null)
                                <div class="clear"></div>
                            </div>
                        </div>
                    </div><!-- End Latest products[single] -->

                }




                <div class="clear"></div>





            </div> <!-- End Latest products row-->
            
            <div class="clear"></div>
        </div> <!-- End products div-->
    </div> <!-- End container latest products-->
</div>
<div class="dlink" style="text-align: center">
    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("SanPham", new { page = page, @MaLoaiSP = ViewBag.MaLoaiSP, @MaNSX = ViewBag.MaNSX }))
</div>

